@page "/super-admin/users/create"





<main class="nxl-container">
    <div class="nxl-content">


        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card stretch stretch-full">

                        <hr class="mt-0">
                        <div class="card-body general-info">

                            <EditForm OnValidSubmit="HandleSubmitAsync" FormName="Create-User" Enhance Model="@CreateUserDto">

                                <DataAnnotationsValidator></DataAnnotationsValidator>

                                <div class="mb-5 d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bold mb-0 me-4">
                                        <span class="fs-20 d-block mb-2">Foydalanuvchi ma'lumotlari:</span>
                                        <span class="fs-16 fw-normal text-muted text-truncate-1-line">Quyidagilarning barchasini kiriting</span>
                                    </h5>
                                    <button class=" btn btn-primary" type="submit">Saqlash</button>
                                </div>
                                <div class="row mb-4 align-items-center">
                                    <div class="col-lg-4">
                                        <label for="fullnameInput" class="fw-semibold">Name: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="feather-user"></i></div>
                                            <InputText @bind-Value="CreateUserDto.FullName" class="form-control" id="fullnameInput" placeholder="Name"></InputText>

                                        </div>
                                        <ValidationMessage class="text-danger" For="@(() => CreateUserDto.FullName)"></ValidationMessage>

                                    </div>
                                </div>

                                <div class="row mb-4 align-items-center">
                                    <div class="col-lg-4">
                                        <label for="usernameInput" class="fw-semibold">Username: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="feather-link-2"></i></div>
                                            <InputText @bind-Value="CreateUserDto.Username" class="form-control" id="usernameInput" placeholder="Username"></InputText>

                                        </div>
                                        <ValidationMessage class="text-danger" For="@(() => CreateUserDto.Username)"></ValidationMessage>
                                    </div>
                                </div>

                                <div class="row mb-4 align-items-center">
                                    <div class="col-lg-4">
                                        <label for="password" class="fw-semibold">Password: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="feather-user"></i></div>
                                            <InputText typeof="password" @bind-Value="CreateUserDto.Password" class="form-control" id="password" placeholder="Password"></InputText>

                                        </div>
                                        <ValidationMessage class="text-danger" For="@(() => CreateUserDto.Password)"></ValidationMessage>

                                    </div>
                                </div>





                                <div class="row mb-4 align-items-center">
                                    <div class="col-lg-4">
                                        <label for="phoneInput" class="fw-semibold">Phone: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="feather-phone"></i></div>
                                            <input type="text" class="form-control" id="phoneInput" placeholder="Phone">
                                        </div>
                                    </div>
                                </div>




                                <div class="row mb-4 align-items-center">
                                    <div class="col-lg-4">
                                        <label class="fw-semibold">Role: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <InputSelect @bind-Value="CreateUserDto.RoleId" class="form-control" data-select2-selector="city">
                                            <option data-city="bg-danger" value="">-- Role tanlash --</option>

                                            @foreach (var role in Roles ?? [])
                                            {

                                                <option value="@role.Id" data-city="bg-primary">@role.Name</option>
                                            }


                                        </InputSelect>


                                        <ValidationMessage class="text-danger" For="@(() => CreateUserDto.RoleId)"></ValidationMessage>
                                    </div>
                                </div>

                            </EditForm>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>


</main>




@code {
    [Inject] private RoleClient RoleClient { get; set; }
    [Inject] private UserClient UserClient { get; set; }

    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    [SupplyParameterFromForm]
    protected CreateUserDto CreateUserDto { get; set; } = new CreateUserDto();

    private bool _shouldShowAlert = false;

    protected IEnumerable<Role>? Roles { get; set; }

    protected override async Task OnInitializedAsync()
    {

        ArgumentNullException.ThrowIfNull(RoleClient);
        var result = await RoleClient.GetAllAsync();

        Roles = result.Items;

    }


    protected async Task HandleSubmitAsync()
    {


        ArgumentNullException.ThrowIfNull(UserClient);

        await UserClient.CreateAsync(CreateUserDto);


        _shouldShowAlert = true;

        StateHasChanged();
        NavigationManager.NavigateTo("/super-admin/users");


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _shouldShowAlert)
        {
            await JSRuntime.InvokeVoidAsync("successAlertMessage", "Foydalanuvchi muvaffaqiyatli yaratildi!");
            _shouldShowAlert = false;
        }
    }
}